quart
peewee
pymysql
hypercorn
pytest
ruff
quart-cors
httpx
pytest-asyncio
PyJWT
redis
pydantic
paddlepaddle\npaddleocr\nopencv-python-headless
infinity-sdk==0.3.0
litellm
tenacity
sentence-transformers
RestrictedPython
